@import url(https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Felipa&display=swap);

*{
    font-family: Felipa, Gowun Batang;
    margin: 0;
    border: 0;
    padding: 0;
    font: rgba(255, 255, 255, 0.95);
    text-decoration: none;
    background-color: rgba(0, 0, 0, 1);
}

body{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

a{
    color: rgba(255, 255, 255, 0.95);
    background-color: rgba(0, 0, 0, 0);
}

body div{
    background-color: rgba(0, 0, 0, 0);
}

.mainvideo{
    position: absolute;
    width: auto;
    height: 100%;
    top: 55%; left: 62.5%;
    transform: translate(-55%, -55%);
}

nav{
    flex-direction: column;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 16%; margin-left: 5%;
    width: 20%;
    font-size: 1.3rem;
}

nav div{
    margin-bottom: 25%;
    height: 0%;
}

.search a:after{
    content: "Search";
}
.search a:hover::after{
    content: "전적 검색";
}

.champion a:after{
    content: "Champion";
}
.champion a:hover::after{
    content: "챔피언 분석";
}

.community a::after{
    content: "Community";
}
.community a:hover::after{
    content: "게시판";
}

.login a::after{
    content: "Log In";
}
.login a:hover::after{
    content: "로그인";
}

.source a::after{
    content: "Source";
}
.source a:hover::after{
    content: "출처";
}

.container{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-top: 2%;
}

.title{
    position: relative;
    font-size: 3rem;
    font: lighter;
}

.mainsearch{
    position: relative;
}

.mainsearch input{
    
}