@import url(https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Felipa&display=swap);

*{
    font-family: Felipa, Gowun Batang;
    margin: 0;
    border: 0;
    padding: 0;
    font: rgba(255, 255, 255, 0.95);
    text-decoration: none;
    background-color: rgba(0, 0, 0, 1);
}

body{
    display: flex;
    flex-direction: row;
    /*overflow: hidden;*/
}

a,input,nav,div,header,.mainsearch,article{
    color: rgba(255, 255, 255, 0.95);
    background-color: rgba(0, 0, 0, 0);
}

.mainvideo{
    position: absolute;
    width: auto;
    height: 100%;
    top: 55%; left: 62.5%;
    transform: translate(-55%, -55%);
}

nav{
    flex-direction: column;
    position: relative;
    margin-top: 15%;
    margin-left: 3%;
    width: 10%; /*hover 해도 글씨 고정시킴 왜?*/
    font-size: 1.3rem;
}

nav div{
    margin-bottom: 60%;
    height: 0%; /*고정 시키려면 이것도 추가해야 됨*/
}

.search a:after{
    content: "Search";
}
.search a:hover::after{
    content: "전적 검색";
}
.champion a:after{
    content: "Champion";
}
.champion a:hover::after{
    content: "챔피언 분석";
}
.community a::after{
    content: "Community";
}
.community a:hover::after{
    content: "게시판";
}
.login a::after{
    content: "Log In";
}
.login a:hover::after{
    content: "로그인";
}
.source a::after{
    content: "Source";
}
.source a:hover::after{
    content: "출처";
}

.container{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 38%;
}

header{
}

.title{
    font-size: 3rem;
    font: lighter;
    text-align: center;
}

.mainsearch{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 7%;
}

article{
}

.searchimg{
}

.searchbar{
    background-color: rgba(255, 255, 255, 0.8);
}

::placeholder, .searchbar{
    color: black;
}

.searchbutton{
    background-color: black;
}