*{
  margin: 0;
  padding: 0;
}
.body{
  width: 100%;
}
.boardbody{
  display:  flex;
  flex-direction: column;
  border: 4px solid red;
  margin: 200px auto;
  width: 500px;
  height: 500px;
}

.boardinfo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 496px;
  height: 96px;
  border: 2px solid blue;
}
