*{
  margin: 0;
  text-decoration: none;
}
a{
  color: #000;
}
body{
  background-color: #EAEAEA;
  min-width: 1080px;
}
header{
  height: 130px;
}
.btn:hover{
  cursor: pointer;
}
.top_content{
  width: 1000px;
  margin: 0px auto;
  padding-top: 30px;
}

.sum_card{
  display: flex;
}

.profile_icon{
  position: relative;
  margin-left: 30px;
  width: 120px;
  height: 120px;
}

.sum_icon{
  position: absolute;
  z-index: -1;
  width: 100px;
  height: 100px;
  top: 10px;
  left: 10px;
}

.level-box{
  position: absolute;
  left: 38px;
  bottom: 0;
  font-size: 14px;
  color: #eabd56;
  display: inline-block;
  width: 44px;
  height: 24px;
  text-align: center;
  line-height: 24px;
}

.sum_info{
  height: 130px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.fav_btn{
  width: 67px;
  height: 25px;
  border: 1px solid #c6cbcb;
  border-radius: 3px;
  padding: 3px 5px;
  font-size: 2px;
  margin-left: 4px;
  margin-top: 15px;
  background-color: #EAEAEA;
}
.sum_profile{
  display:flex;
  align-items: center;
}
.sum_profile > span{
  font-size: 30px;
  font-weight: 1000;
  margin-right: 4px;
}

.refresh_btn{
  width: 90px;
  height: 40px;
  padding: 10px 14px;
  margin: 0 0px 6px 0;
  border: 1px solid #1a78ae;
  border-radius: 2px;
  background-color: #1f8ecd;
  color: #f2f2f2;
  margin-right: 5px;
}
.refresh_btn:hover{
  border-color: #b5bcbc;
}

.playtime_btn{
  border: 1px solid #6833d5;
  height: 40px;
  padding: 10px 14px;
  margin: 0px 0px 6px 0;
  background-color: #955dff;
  color: #f2f2f2;
  border-radius: 2px;
  margin-right: 5px;
}
.playtime_btn:hover{
  border-color: #b5bcbc;
}
.teargraph_btn{
  border: 1px solid #ccd1d1;
  margin: 0px 0px 6px 0;
  height: 40px;
  padding: 10px 14px;
  background-color: #f2f2f2;
  color: #242929;
  border-radius: 2px;
  margin-right: 5px;
}
.teargraph_btn:hover{
  border-color: #b5bcbc;
}

.lastupdate_time{
  color: #99a2a2;
  font-size: 10px;
}
/*navigation 메뉴*/

.menu{
  margin-top: 5px;
  border-bottom: 1px solid #c6cbcb;
  width: 100%;
}

.menu_buttons{
  width: 1000px;
  height: 40px;
  margin: 0 auto;
}

.menu_btn{
  text-decoration: none;
  color:black;
  line-height: 40px;
  text-align: center;
  display : inline-block;
  width: 70px;
  height: 39px;
  border: 1px solid #c6cbcb;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 13px;
  background-color: #f2f2f2;
}

.menu_btn:hover{
  background-color: #EAEAEA;
}

.menu_btn:focus{
  background-color: #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
}

.ingame_btn{
  width: 120px;
  margin-left: 15px;
  background-color: #ffffff;
  color: #1a78ae;
  font-weight: 400;
}

dd{
  float:left;
  margin : 0;
}

/*메인 컨텐츠*/

.main_contents{
  display: flex;
  width: 1000px;
  margin: 50px auto;
}

.season_card{
  margin-right: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.solo_card{
  display: flex;
  align-items: center;
  height: 140px;
  padding: 8px 0;
  background-color: #f2f2f2;
  color: #879292;
  border: 1px solid #cdd2d2;
  box-shadow: 0 1px #dcdfdf;
  border-radius: 2px;
}

.solo_card img{
  width: 104px;
  height: 104px;
  margin: 10px;
  margin-left: 30px;
}

.multi_card{
  display: flex;
  align-items: center;
  margin-top: 10px;
  height: 100px;
  padding: 8px 0;
  background-color: #f2f2f2;
  color: #879292;
  border: 1px solid #cdd2d2;
  box-shadow: 0 1px #dcdfdf;
  border-radius: 2px;
}

.multi_card img{
  width: 64px;
  height: 64px;
  margin: 0 28px;
  margin-left: 48px;

}

.queue_tear{
  font-size: 15px;
  color: #1f8ecd;
  font-weight: 1000;
}

.queue_info, .queue_win, .legue_name{
  font-size: 12px;
}

.queue_type{
  font-size: 11px;
}

.all_game_infocard{
  width: 690px;
  display: flex;
  flex-direction: column;
}

.sum_gameinfo{
  height: 190px;
  width: 690px;
  background-color: #eaeaea;
}

.game_card{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  height: 100px;
  width: 690px;
  background-color: #a3cfec;
  border: 1px solid #99b9cf;
}
footer{
  padding: 40px 0 40px;
}

.foot_li{
  padding: 0;
  display: flex;

}

.foot_menu{
  font-size: 12px;
  margin: 0 5px;
  list-style: none;
}

.foot_menu a{
    text-decoration: none;
    color: #000;
}

.left_menu{
  margin: 0 5px 0 0;
}

.foot_menu a:hover{
  text-decoration: underline;
}

footer p{
  margin-top: 10px;
  font-size: 12px;
}

.w600{
  font-weight: 600;
}
.w1000{
  font-weight: 1000;
}

.top_nav{
  background-color: #232f46;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.blue_menu{
  width: 250px;
  height: 40px;
  background-color: #5383e8;
  display:flex;
  justify-content: space-around;
  color: #fff;
  font-size: 12px;
  align-items: center;
}

.blue_menu img{
  width: 65px;
  height: 16px;
}

.black_menu{
  width: 150px;
  color: #c3cbd1;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.black_menu a{
  display: inline-block;
  line-height: 25px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  width: 65px;
  height: 25px;
  border-radius: 4px;
  background-color: #5383e8;
}

.second_nav{
  height: 50px;
  color: #c3cbd1;
  font-size: 15px;
  background-color: #5383e8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.second_nav a{
  position: relative;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  color: #b3cbff;
  margin:0 20px;
}

.second_nav a:hover{
  color: #fff;
}
.second_nav a:focus{
  color: #fff;
}
.second_nav a::after{
  content: '';
    width: 0%;
    height: 1px;
    position: absolute;
    background: #888;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: all 0.5s;
}
.second_nav a:hover::after{
  width: 100%;
  border-bottom: 3px solid #fff;
}
.second_nav a:focus::after{
  width: 100%;
  border-bottom: 3px solid #fff;
}

.second_nav:nth-child(2) form{
  display: flex;
  align-items: center;
}
.second_nav input{
  height: 30px;
  width: 250px;
  border-radius: 4px 0 0 4px;
  border: none;
  padding: 0 10px;
  box-shadow: none;
}

.second_nav input:focus{
  outline: none;
}

.second_nav button{
  background-color: #fff;
  margin-right: 20px;
  height: 30px;
  width: 50px;
  border-radius: 0 4px 4px 0;
  border: none;

}

.second_nav button:hover{
  cursor: pointer;
}

.second_nav button img{
  width: 30px;
  height: 14px;
}

/*메인 컨텐츠 부분*/
.sum_gameinfo{
  background-color: #ededed;
  display: flex;
  flex-direction: column;
}

.info_nav{
  height: 35px;
  width: 688px;
  border: 1px solid #cdd2d2;
  background-color: #f2f2f2;
  font-size: 12px;
  font-weight: 1000;
}

.info_nav a{
    display: inline-block;
    height: 33px;
    line-height: 30px;
    margin-left: 15px;
    color: #1f8ecd;
    border-bottom: 2px solid #1f8ecd;
}

.detail_info{
  display: flex;
  border: 1px solid #cdd2d2;
  border-top: 0px;
}

.losewin_rate{
  width: 270px;
  display: flex;
  border-right: 1px solid #cdd2d2;
  border-top: 0px;
  height: 153px;
}

.losewin_rate .first_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.win_graph{
  padding: 20px;
  color: #666666;
  font-size: 15px;
}

.kda{
  font-weight: 700;
  font-size: 11px;
}
.kda_info{
  padding: 10px;
  width: 143px;
}
.f_red{
  color: #c6443e;
}
.win_ratio_title{
  font-size: 12px;
  margin-bottom: 7px;
}
/*파이차트*/
.pie-chart2 {
  display:inline-block;
  position:relative;
  width: 90px;
  height:90px;
  background: conic-gradient(#1F8ECD 0% 50%, #EE5A52 50% 100%);
  border-radius: 50%;
}
.pie-chart2  .center{
  position:absolute;
  width:70px;
  height: 70px;
  background :#ededed;
  border-radius: 50%;
  top: 10px;
  left:10px;
}
.center span{
  display: inline-block;
  position: absolute;
  left: 30%;
  top: 25px;
}
.champs_rate{
  display: flex;
  flex-direction: column;
  border-right: 1px solid #cdd2d2;
}

.champ_rate{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2.5px;
  width: 210px;
}

.champ_rate div{
  display: flex;
  align-items: center;
}
.cmp_name{
  font-size: 14px;
  margin-left: 5px;
}
.champ_rate > span{
  font-size: 11px;
}
.champ_rate img{
  border-radius: 25px;
}
.fav_position{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 200px;
}
.fav_line{
  width: 200px;
  padding: 5px;
  display: flex;
  justify-content: space-around;

}
.fav_line img{
  width: 28px;
  height: 28px;
}
.fav_rate{
  font-size: 11px;
}
.fnt_15{
  font-size: 15px;
}

.game_detail{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 11px;
  height: 100px;
}
.detail_kda{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 800;

}
.ingame_stat{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 11px;
  height: 60px;
}
.game_players{
  display: flex;
}
.team_ally, .team_enemy{
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 18px;
  width: 80px;
  margin: 0 3px;
  font-size: 11px;
  text-overflow: ellipsis;
}
.kda_score{
  font-size: 12px;
}
.game_result{
  color:#1a78ae;
  font-weight: 800;
}
.kda_stat{
  margin-bottom: 10px;
}
.bar{
  width: 27px;
  height: 2px;
  background: #99b9cf;
}
.queue_type{
  font-weight: 600;
}
