@import url(https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Felipa&display=swap);

*{
    font-family: Felipa, Gowun Batang;
    margin: 0;
    border: 0;
    padding: 0;
    font: rgba(255, 255, 255, 0.95);
    text-decoration: none;
    background-color: rgba(0, 0, 0, 1);
}

a{
    color: rgba(255, 255, 255, 0.95);
    background-color: rgba(0, 0, 0, 0);
}

::after{
    color: rgba(255, 255, 255, 0.95);
    font-size: large;
}

.backcontainer{
    display: flex;
    flex-direction: column;
}

.mainvideo{
    width: 80%;
    height: auto;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.mainaudio{
    position: absolute;
    opacity: 0;
}

.container{
    display: flex;
    flex-direction: column;
}

.title{
    position: relative;
    font-size: 3rem;
    font: lighter;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 5%;

    /*
    visibility: hidden;
    visibility: visible;
    */
}

.navc{
    display: flex;
    position: relative;
    justify-content: space-between;
    font-size: 1.3rem;
    background-color: rgba(0, 0, 0, 0);
}

.champion{
    margin: 15% 8%;
    background-color: rgba(0, 0, 0, 0);
}
.champion a:after{
    content: "Champion";
}
.champion a:hover::after{
    content: "챔피언 분석";
}

.search{
    margin: 15% 8%;
    background-color: rgba(0, 0, 0, 0);
}
.search a:after{
    content: "Search";
}
.search a:hover::after{
    content: "전적 검색";
}

.community{
    margin: 15% 8%;
    background-color: rgba(0, 0, 0, 0);
}
.community a:after{
    content: "Community";
}
.community a:hover::after{
    content: "게시판";
}

.login{
    margin: 15% 8%;
    background-color: rgba(0, 0, 0, 0);
}
.login a:after{
    content: "Log In";
}
.login a:hover::after{
    content: "로그인";
}