@import url(https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap);

*{
    margin: 0;
    border: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.8);
    font-family: Oxanium, Gowun Batang;
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    background: black;
    /* overflow: hidden; */
}

input:focus{
    outline: none;
}

.joinvideo, .joinvideo2, .joinvideo3{
    position: absolute;
    height: 100%;
    bottom: 0; left: 0;
    transform: translate(5.5%, 0%);
}
/* js로 joinvideo가 끝나면 joinvideo2가 이어서 재생하도록 추가 */
/* joinvideo3나 joinvideo+joinvideo2 중에서 골라야 한다. 3로 할 경우, box가 지직 거리면서 나오는 걸로 */

header *, form *, footer *{
    position: relative;
}

header{
    position: relative;
    font-size: 3vw;
    width: 20vw;
    transform: translate(18vw, 2.8vw);
}

form{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 29vw; height: 43vw;
    transform: translate(34.2vw, -3vw);
    border: 0.1vw solid rgba(255, 255, 255, 0.8);
    padding: 0.7vw;
    background: rgba(59, 193, 255, 0.2);
}

form *{
    margin: 0.2vw;
}
form label{
    font-size: 1.2vw;
}
form input{
    width: 20vw;
    height: 1.5vw;
    padding: 0.3vw;
    font-size: 1vw;
    background: rgba(0, 0, 0, 0.3);
    border: 0.1vw solid rgba(255, 255, 255, 0.8);
}
form input[type=button]{
    width: 6vw;
    height: 2vw;
}
form input[type=submit]{
    width: 7vw;
    height: 3vw;
    font-size: 1.5vw;
}
form input[type=button], form p, form ::placeholder{
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.8vw;
}
.joinbutton{
    position: relative;
    transform: translate(11vw, 1vw);
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 0.8vw;
}
